h1 Create Computer
 form(method="POST", action="/computer/")
  p Screen Size:
   input#ScreenSize(type="text", ScreenSize="ScreenSize")
  p Hard Drive Size:
   input#HardDriveSize(type="text", ScreenSize="HardDriveSize")
  p Memory Size:
   input#MemorySize(type="text", ScreenSize="MemorySize")
  p: button(type="submit") Create 