h1 Create Computer
 form(method="POST", action="/users/")
  p Screen Size:
   input#name(type="text", name="name")
  p Email:
   input#email(type="text", name="email")
  p Age:
   input#age(type="text", name="age")
  p: button(type="submit") Create 